
@{
    ViewBag.Title = "AdminOnly";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-3">
    <p>
        These  links allow you to populate the setup tables for the applicaion
    </p>
    @Html.ActionLink("Teams", "Index", "Teams")<br />
    @Html.ActionLink("Members", "Index", "Members")<br />
    @Html.ActionLink("Team Members", "Index", "TeamMembers")<br />
    @Html.ActionLink("Priorities", "Index", "Priorities")<br />
    @Html.ActionLink("Request Types", "Index", "RequestTypes")<br />
    @Html.ActionLink("Request Type Steps", "Index", "RequestTypeSteps")<br />
    @Html.ActionLink("Status Type", "Index", "StatusTypes")<br />
    @Html.ActionLink("Statuses", "Index", "StatusSets")<br />
    @Html.ActionLink("AD Information", "Index", "ADInformations")<br />
    @Html.ActionLink("Application Configuration", "Index", "ApplicConfs")<br />
    @*@Html.ActionLink("Mail", "Index", "SendMailer")<br />*@

    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
</div>

<div class="col-md-3">
    <h2>Administration</h2>
    <p>These links provide you with ability to see any requests or appointments regardless of team</p>
    @Html.ActionLink("ServiceRequests", "Index", "ServiceRequests")<br />
    @Html.ActionLink("Appointments", "Index", "Appointments")<br />
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div>
