@model ServeMeHR.Models.ServiceRequestNote

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ServiceRequestNote</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NoteDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoteDescription, new { htmlAttributes = new { @class = "form-control" }, @cols = 80, @rows = 10 })
                @Html.ValidationMessageFor(model => model.NoteDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.LastUpdated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastUpdated, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.HiddenFor(model => model.LastUpdated)
            <div class="col-md-10">
                @Html.HiddenFor(model => model.LastUpdated)

                @Html.ValidationMessageFor(model => model.LastUpdated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.WrittenBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WrittenBy, new { htmlAttributes = new { @class = "form-control" } })*@

            @Html.HiddenFor(model => model.WrittenBy)
            <div class="col-md-10">
                @Html.HiddenFor(model => model.WrittenBy)

                @Html.ValidationMessageFor(model => model.WrittenBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ServiceRequest, "ServiceRequest", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ServiceRequest, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.HiddenFor(model => model.ServiceRequest, "ServiceRequest")
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ServiceRequest)

                @*@Html.DropDownList("ServiceRequest", null, htmlAttributes: new { @class = "form-control" })*@

                @Html.ValidationMessageFor(model => model.ServiceRequest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}